.app{
	margin-top: 20px;
}
#title{
	background-color: darkgray;
	width: 100%;
	text-align: center;
	padding: 15px 0;
	font-size: 30px;
	font-family: fantasy;
}
textarea{
	border-radius: 5px;
	width: 90%;
	margin: 20px auto;
	display: block;
}
.new{
	background-color: lightgray;
	margin: 15px 0;
	padding: 15px 40px 15px 15px;
	width: 100%;
	display: block;
	height: auto;
	word-wrap: break-word;
	position: relative;
	border-radius: 5px;
}
#container-to-do{
	margin: 15px 0;
}
.labeled{
	text-decoration:line-through;
}
.icon{
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 40%;
}